# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env

# User-specific files
*.swp
*.swo
.DS_Store

# IDE-specific files
.vscode/

# Log files
*.log

# Binary and data files
*.png
*.jpg
*.jpeg
*.gif
*.csv
*.bin
