<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>overwatch</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
 
  <!-- component -->
<div class="relative py-16 bg-gradient-to-br from-sky-50 to-gray-200">  
  <div class="relative container m-auto px-6 text-gray-500 md:px-12 xl:px-40">
      <div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
          <div class="rounded-xl bg-white shadow-xl">
              <div class="p-6 sm:p-16">
                  <div class="space-y-4">
                      
                      <h2 style="text-align: center;" class="mb-8 text-2xl text-cyan-900 font-bold">Matchmaker<br>
                      </h2>
                  </div>
                  <div class="mt-16 grid space-y-4">
                      <button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 
hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                          <div class="relative flex items-center space-x-4 justify-center">
                              <a href="/overwatch">
                              <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Overwatch</span>
                          </a>
                          </div>
                      </button>
                      <button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 
hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                          <div class="relative flex items-center space-x-4 justify-center">
                              
                              <a href="/lol">
                              <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">League of Legends</span>
                          </a></div>
                      </button>
                      <!--<button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 
                                   hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                          <div class="relative flex items-center space-x-4 justify-center">
                               
                              <a href="/number">
                              <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Réglages manuels</span>
                          </a></div>-->




                      <!--</button>
                      <button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 
                                   hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                          <div class="relative flex items-center space-x-4 justify-center">
                               
                              <a href="">
                              <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Title 4</span>
                          </a></div>
                      </button>
                      <button class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 
                                   hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                          <div class="relative flex items-center space-x-4 justify-center">
                               
                              <a href="">
                              <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Title 5</span>
                          </a></div>
                      </button>-->
                  </div>

                  <div class="mt-32 space-y-4 text-gray-600 text-center sm:-mb-8">
                      <p class="text-xs">Vous qui êtes ici, sachez que personne ne vous aime.</p>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>
  
</body>
</html>